RU{
    background-color:blanchedalmond;
    font-family: 'Bangers', cursive;
    text-align: center;
}
b
{
     display:block;
     color:blue;
     font-style:italic;
    font-size:30px;
    font-family: 'Bangers', cursive;
    text-align: center;
    }
e
{
     display:block;color:green;
     font-style:italic;
     font-size:30px;
     font-family: 'Bangers', cursive;
     text-align: center;
}
s
{
     display:block;
     color:red;
     font-style:italic;
     font-size:30px;
     font-family: 'Bangers', cursive;
     text-align: center;
    }
c
{
     display:block;
     color:blue;
     font-style:italic;
     font-size:30px;
     font-family: 'Bangers', cursive;
     text-align: center;
    }
o
{
    display:block;
    color:black;
    font-style:italic;
    font-size:30px;
    font-family: 'Bangers', cursive;
    text-align: center;
}